
<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <h4>Left View</h4>
    <div class="container">
    <button type="button" class="btn btn-primary" ng-click="toggle()">
      Toggle
    </button>
    <packet-view packet="packet" width="500px">
    </packet-view>
  </div>
  </div>
  <div class="col-md-4">
    <h4>Right View</h4>
    <table class="table table-striped">
      <tr><td>one</td><td>two</td><td>three</td></tr>
      <tr><td>one</td><td>two</td><td>three</td></tr>
      <tr><td>one</td><td>two</td><td>three</td></tr>
      <tr><td>one</td><td>two</td><td>three</td></tr>
      <tr><td>one</td><td>two</td><td>three</td></tr>
      <tr><td>one</td><td>two</td><td>three</td></tr>
      <tr><td>one</td><td>two</td><td>three</td></tr>
      <tr><td>one</td><td>two</td><td>three</td></tr>
      <tr><td>one</td><td>two</td><td>three</td></tr>
      <tr><td>one</td><td>two</td><td>three</td></tr>
      <tr><td>one</td><td>two</td><td>three</td></tr>
      <tr><td>one</td><td>two</td><td>three</td></tr>
      <tr><td>one</td><td>two</td><td>three</td></tr>
      <tr><td>one</td><td>two</td><td>three</td></tr>
      <tr><td>one</td><td>two</td><td>three</td></tr>
      <tr><td>one</td><td>two</td><td>three</td></tr>
      <tr><td>one</td><td>two</td><td>three</td></tr>
      <tr><td>one</td><td>two</td><td>three</td></tr>
      <tr><td>one</td><td>two</td><td>three</td></tr>
      <tr><td>one</td><td>two</td><td>three</td></tr>
      <tr><td>one</td><td>two</td><td>three</td></tr>
    </table>
  </div>
</div>
